<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Менеджер - Главная</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<header>
    <h1>Добро пожаловать!</h1>
    <nav>
        <a href="/logout">Выйти</a>
    </nav>
</header>

<main>
    <section>
        <h2>Информация о магазине</h2>
        <div>
            <p><strong>Название:</strong> <span th:text="${store.name}">Название магазина</span></p>
            <p><strong>Адрес:</strong> <span th:text="${store.address}">Адрес магазина</span></p>
            <p><strong>Телефон:</strong> <span th:text="${store.phoneNumber}">Телефон магазина</span></p>
        </div>
    </section>
    <br>
    <br>
    <br>
    <br>
    <section>
        <h2>Товары в наличии</h2>
        <table>
            <thead>
            <tr>
                <th>Название</th>
                <th>Категория</th>
                <th>Цена</th>
                <th>Количество</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="product : ${inventory}">
                <td th:text="${product.name}"></td>
                <td th:text="${product.category}"></td>
                <td th:text="${product.unitPrice}"></td>
                <td th:text="${product.quantity}"></td>
            </tr>
            </tbody>
        </table>
    </section>
    <br>
    <br>
    <br>
    <br>
    <section>
        <h2>Проданные товары за месяц</h2>
        <table>
            <thead>
            <tr>
                <th>Название</th>
                <th>Категория</th>
                <th>Цена</th>
                <th>Количество</th>
                <th>Дата продажи</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="sale : ${sales}">
                <td th:text="${sale.productName}"></td> <!-- Исправлено -->
                <td th:text="${sale.productCategory}"></td> <!-- Исправлено -->
                <td th:text="${sale.unitPrice}"></td>
                <td th:text="${sale.quantitySold}"></td>
                <td th:text="${sale.saleDate}"></td>
            </tr>

            </tbody>
        </table>
    </section>
<br>
<br>
<br>
<br>
    <section>
        <h2>Действия</h2>
        <ul>
            <li><a href="/manager/change-password">Изменить пароль</a></li>
            <li><a href="/manager/create-request">Создать запрос на поставку</a></li>
            <li><a th:href="@{/sales/report}">Отправить отчет о продажах</a></li> <!-- Ссылка на отправку отчета -->
<!--            <li><a th:href="@{/reports}">Просмотреть мои отчеты</a></li> &lt;!&ndash; Ссылка на просмотр отчетов &ndash;&gt;-->
        </ul>
    </section>

</main>
</body>
</html>
