<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Admin Panel</title>
</head>
<body>
<h1>Добро пожаловать в панель администратора</h1>

<nav>
    <ul>
        <li><a th:href="@{/admin/create-store}">Создать новый магазин</a></li>
        <li><a th:href="@{/admin/add-product}">Добавить новый продукт</a></li>
        <li><a th:href="@{/admin/requests}">Просмотреть заявки</a></li>
        <li><a th:href="@{/sales/reports}">Просмотреть отчеты о продажах</a></li>
        <br>
        <br>
        <br>
        <br>
        <li><a th:href="@{/logout}">Выйти</a></li>
    </ul>
</nav>


<h2>Список магазинов</h2>
<table>
    <thead>
    <tr>
<!--        <th>ID</th>-->
        <th>Название</th>
        <th>Адрес</th>
        <th>Телефон</th>
        <th>Менеджер</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="store : ${stores}">
<!--        <td th:text="${store.id}"></td>-->
        <td th:text="${store.name}"></td>
        <td th:text="${store.address}"></td>
        <td th:text="${store.phoneNumber}"></td>
        <td th:text="${store.managerName}"></td>
    </tr>
    </tbody>
</table>

<h2>Список товаров</h2>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Название</th>
        <th>Цена</th>
        <th>Действия</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="product : ${products}">
        <td th:text="${product.id}"></td>
        <td th:text="${product.name}"></td>
        <td th:text="${product.unitPrice}"></td>
        <td>
            <a th:href="@{/admin/edit-product/{id}(id=${product.id})}">Изменить</a> |
<!--            <a th:href="@{/admin/delete-product/{id}(id=${product.id})}" onclick="return confirm('Вы уверены?');">Удалить</a>-->
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
