<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="~{layout :: content}">
<head>
    <title>Список товаров</title>
</head>
<body>
<h1>Список товаров</h1>
<table border="1">
    <tr>
        <th>ID</th>
        <th>Название</th>
        <th>Категория</th>
        <th>Цена</th>
    </tr>
    <tr th:each="product : ${products}">
        <td th:text="${product.id}"></td>
        <td th:text="${product.name}"></td>
        <td th:text="${product.category}"></td>
        <td th:text="${product.unitPrice}"></td>
    </tr>
</table>
</body>
</html>
