<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Товары магазина</title>
</head>
<body>
<h1 th:text="'Товары магазина: ' + ${store != null ? store.name : 'Неизвестный магазин'}"></h1>
<table>
    <tr>
        <th>Название</th>
        <th>Цена</th>
        <th>Действие</th>
    </tr>
    <tr th:if="${products != null}" th:each="product : ${products}">
        <td th:text="${product.name}"></td>
        <td th:text="${product.unitPrice}"></td>
        <td>
            <form th:action="@{/store/{id}/buy(id=${store.id})}" method="post">
                <input type="hidden" name="productId" th:value="${product.id}" />
                <input type="number" name="quantity" min="1" value="1" />
                <button type="submit">Купить</button>
            </form>

        </td>
    </tr>
    <tr th:if="${products == null or products.isEmpty()}">
        <td colspan="4">Нет товаров для отображения</td>
    </tr>
</table>


</body>
</html>
